body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: block; /* Permet au lien de prendre toute la largeur de son conteneur */
    text-align: center;
    margin-top: 10px; /* Ajoute de l'espace au-dessus du lien */
}

a:hover {
    color: #0056b3;
}

form {
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajoute de l'espace entre les champs dans le formulaire */
form input {
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Ajouter des styles pour les autres boutons au besoin */
